.mobile-edit-dialog-events-containter {
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
  height: 75vh;
  -webkit-overflow-scrolling: touch;
}

.date-input {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 160px;
}

.time-input {
  width: auto;
}

.error-message {
  margin-bottom: 15px;
}
