.mobile-info-dialog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: white;
  top: 0;
}

.mobile-info-dialog-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10001;
}

.mobile-info-dialog-footer-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-info-dialog-events-containter {
  padding-left: 30px;
  padding-right: 10px;
}

.mobile-info-dialog-events-header {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 300;
  padding-left: 25px;
  margin-bottom: 7vw;
}

.mobile-event-popup-actions-icon {
  margin-top: 3px;
  margin-right: 20px;
  font-size: 20px;
  color: grey;
}

.mobile-event-popup-actions-icon:hover {
  cursor: pointer;
  color: black;
}
