.profile-nav-bar-avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-size: cover;
  float: right;
  margin-left: 20px;
  margin-top: 8px;



}

.ant-menu-item-only-child{
  background: none;

  margin: 0 !important;
}
.profile-nav-bar-menu-exit{

  background: white !important;
}
.ant-menu-submenu-title {
  display: flex;
  padding: 0;
  flex-direction: row-reverse;
}

.profile-nav-bar-menu {
  float: right;
  font-weight: 200;
  font-size: 17px;
  padding-top: 3px !important;
}


.profile-nav-bar-title {
  font-size: 19px;
  font-weight: 200;
  margin-left: 15px !important;
  margin-right: 5px !important;
  cursor: pointer !important;
  border-color: transparent !important;
}

.profile-nav-bar-title:hover{
  cursor: pointer;
  border-color: transparent !important;
}


.profile-nav-bar-icon {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-bottom: 5px;
  opacity: 0.5;
  margin-top: 7px !important;
}

.profile-nav-bar-icon:hover {
  cursor: pointer;
  border-color: transparent !important;
  opacity: 1;
}
