.privacy-page-back-link {
  font-size: calc(15px + (28 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  margin-left: 3vw;
  padding: 5px;
  padding-top: 100px;
}

.privacy-page-paragraph {
  font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;

  margin-left: 6vw;
  padding: 5px;
  margin-bottom: 25px;
}

.privacy-page-landing-row {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 30px;
  color: var(--text-color);
}

.privacy-page-header {
  font-size: calc(38px + (100 - 38) * ((50vw - 300px) / (1600 - 300)));
  font-weight: 200;
  margin-left: 3vw;
  padding: 5px;
}

.privacy-page-subheader {
  font-size: calc(15px + (28 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  margin-left: 5vw;
  padding-right: 3vw;
}
