.start-page-landing-row {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 30px;
}

.start-page-start-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start-page-fake-menu {
  height: 46px;
  width: 100%;
}

.start-page-start-box-text {
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-page-start-box-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url('../../img/background.jpeg');
}

.start-page-start-box-backcolor {
  width: 100%;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(15px);
  background: linear-gradient(90deg, rgb(210 89 31) 0%, rgb(136 22 134 / 75%) 40%, rgb(14 130 103) 100%);
}

.start-page-menu {
  position: fixed;
  opacity: 1;
  z-index: 1;
  background: none;
}

.start-page-menu-item {
  float: right;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0) !important;
}

.start-page-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.ant-menu-sub {
  background: #423c52 !important;
}

.ant-menu-submenu-active {
  color: white;
}

.ant-menu-submenu-selected {
  color: rgba(255, 255, 255, 0.65);
}

.start-page-menu-header {
  font-size: calc(38px + (72 - 20) * ((120vw - 300px) / (1600 - 300)));
  font-weight: 100;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  letter-spacing: 10px;
}

.start-page-menu-pitch {
  font-size: calc(18px + (32 - 18) * ((120vw - 300px) / (1600 - 300)));
  font-weight: 200;
  color: lightgray;
  padding-left: 2vw;
  padding-right: 2vw;
}

.start-page-menu-header-lightback {
  font-size: calc(38px + (100 - 38) * ((50vw - 300px) / (1600 - 300)));
  font-weight: 100;
  color: #585757;
  margin-left: 3vw;
  padding: 5px;
}

.start-page-menu-pitch-lightback {
  font-size: calc(15px + (28 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  color: #585757;
  margin-left: 5vw;
  padding-right: 3vw;
}

.start-page-enter-button {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  margin-top: 6vh;
  color: lightgray;
  height: calc(50px + (50 - 15) * ((50vw - 300px) / (1600 - 300))) !important;
  padding: 6.4px 40px !important;
  font-weight: 300;
}

.start-page-enter-button:hover {
  border-color: white;
  color: white;
  font-weight: 800;
}

.start-page-app-example {
  background-image: url('../../img/screenshot.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
}

.start-page-app-example-fade {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgb(255 255 255 / 0) 60%, rgb(255 255 255) 100%);
}

.start-page-app-example-container {
  display: flex;
  height: 40vw;
  justify-content: center;
  position: relative;
  margin-top: 70px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote {
  font-size: calc(15px + (28 - 15) * ((50vw - 300px) / (1600 - 300)));
  width: 90%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #423c51;
  line-height: 1.6;
  position: relative;
  background: #f7f7f7;
  ;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #423c51;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.start-page-app-donate-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.start-page-app-donate-box {
  height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.start-page-donate-button {

  border-radius: calc(50px + (50 - 15) * ((50vw - 300px) / (1600 - 300))) !important;
  background: #ffca66;

  font-size: calc(20px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  margin-top: 6vh;
  color: #585757;
  height: calc(50px + (50 - 15) * ((50vw - 300px) / (1600 - 300))) !important;
  padding: 6.4px 40px !important;
  font-weight: 200;
  border: 0;
  cursor: pointer;

}

.start-page-donate-currency{
  text-align: center;
  flex-direction: column;
  color: #585757;
}

.start-page-donate-button:hover {
  background: #ffb020;
}

.start-page-donate-button-box {
  display: flex;
  flex-direction: column;
}

.start-page-donate-input {
    font-size: calc(20px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-weight: 200;
    padding-right: 10px;
    padding-left: 10px;
}

.start-page-app-email-container {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: calc(18px + (60 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  padding-top: 80px;
  margin-bottom: 50px;
}

.start-page-app-social-container {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  padding-top: 20px;
}

.start-page-app-email-container a {
  color: #585757;
}

.start-page-footer {
  width: 100%;
  height: 40px;
  position: relative;
  background: linear-gradient(90deg, rgb(210 89 31) 0%, rgb(136 22 134 / 75%) 40%, rgb(39 173 142) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start-page-footer-label {
  font-size: 16px;
  color: lightgray;
}

.start-page-back-top {
  height: 40px;
  width: 80px;
  line-height: 40px;
  border-radius: 40px;
  background-color: #f7f7f7;
  color: #969696;
  text-align: center;
  font-size: 14px;
  border-color: lightgrey !important;
  border: 1px !important;
}

.start-page-back-top:hover {
  color: gray;
  background: #eaeaea;
}

html, body {
  overflow-x: hidden;
}

@media screen and (max-width: 450px) {
  .event-popup-row {
    min-width: 100vw;
    margin: 5px;
    display: flex !important;
    row-gap: 0px !important;
    flex-direction: row !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ant-row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .ant-form-item-control {
    width: 300px;
  }

  .ant-col {
    max-width: none;
  }

  .ant-form-item {
    row-gap: 0px;
    align-items: end;
  }
}
