body {
  font-family: "Rubik" !important;
  color: var(--text-color);
  background-color: var(--navbar-background-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--a-color);
}

a:visited {
  color: var(--a-color-visited);
}

.ant-modal-wrap {
  z-index: 1042 !important;
}

.ant-picker-calendar .ant-picker-cell {
  padding: 4px 4px;
}
