body {
  font-family: "Rubik" !important;
  color: var(--text-color);
  background-color: var(--background-color);
}
a {
  color: var(--a-color);
}

a:visited {
  color: var(--a-color-visited);
}

.ant-modal-wrap {
  z-index: 1042 !important;
}

.ant-picker-calendar .ant-picker-cell {
  padding: 4px 4px;
}
